extends layout
block content
    #about-us
        .about
            h2 ABOUT US
            .pix 
                img(src=img.two, alt=img.two)
            .summary
                p Debrasgrace.com is an online apparel and accessories distribution company ( Fashion Retailer ). It is a sister company to Debras Grace Limited (DGL) which has over the last five years grown into one of the biggest fast fashion retailers in Nigeria. Focusing on top quality and friendly prices for female fashion items, DGL has amassed a huge community of ardent buyers for its unique service offering.
                br
                h5 OUR VISION
                hr
                p Our Vision is to lead the distribution of fashion items in Africa – a gateway to desirable, affordable top quality fashion for the African woman.
                br
                h5 OUR MISSION
                hr
                p Our Vision is to lead the distribution of fashion items in Africa – a gateway to desirable, affordable top quality fashion for the African woman.
                br
        .values
            h2 Our Values
            .v1
                p
                    strong Dignity:
                    |Our goal is to ensure every customer literally walks out of our store (offline and online) not just happy and fulfilled, but also with dign
                p
                    strong Dignity:
                    |Our goal is to ensure every customer literally walks out of our store (offline and online) not just happy and fulfilled, but also with dign
                p
                    strong Dignity:
                    |Our goal is to ensure every customer literally walks out of our store (offline and online) not just happy and fulfilled, but also with dign
                p
                    strong Dignity:
                    |Our goal is to ensure every customer literally walks out of our store (offline and online) not just happy and fulfilled, but also with dign
            .v2
                img(src=img.one, alt="img")
