.text-center.cart
    i.fa.fa-shopping-cart
    .cart-item-number
    .cart-info
        .info
        .total
        .checkout
            a(href="/cart") View Cart 
            span &nbsp;
            a(href="/checkout") Checkout