extends layout
block content
    #cart-display.container
        header
            h3 Shopping Cart
        .breadcrumb
            ul
                li
                    a(href="/") Home
                li
                    p   Shopping Cart
        .cart-body
            .delivery-time-info
                p   
                    i.fa.fa-calendar-o
                    span &nbsp;Delivery Timelines: Lagos is 3-5 working days. Other States, 5-8 working days
            .cart-product-info
            .cart-product-total-info

            