#footer
    #footer-content
        #get-to-know-us
            h5 Get To Know Us
            ul
                li
                    a(href="/about") About Us
                li
                    a(href="/policy") Online Policy
                li
                    a(href="/terms-and-condition") Terms and Conditions
                li
                    p Contact: 09055877795 or 
                li
                    a(href="/contact-form") Send a mail
        #bestsellers
            h5 Bestsellers
            .row
                .col-sm-12
                    jjjp someht
                .col-sm-12
                    p 
        #popular-tags
            h5 Popular Tags
        #latest-tweets
            h5 Latest Tweets
#logo
    span Follow Us:
    a(href="#")
        i.fa.fa-facebook
    a(href="#")
        i.fa.fa-twitter
    a(href="#")
        i.fa.fa-google-plus
    a(href="#")
        i.fa.fa-pinterest
    a(href="#")
        i.fa.fa-instagram
#copyright
    p Copyright @copy 2017 All Rights Reserved