include head.pug
//- MOBILE NAVBR
#mobile-nav 
    .row
        #brand-name 
            a(href="/") Fashion
        .search-icon
            i.fa.fa-search
    #mobile-search.row
        form(action="/", method="get", role="search")
            input(type="search", name="s", placeholder="Search", autocomplete, required)
    #menu-items
        ul
            li.nav-item
                p
                    a(href="#") women
                .collaspe
                    p
                        a.sub-topic(href="#") all women
                    .collaspe
                        ul
                            li
                                a.items(href="#") New This Week
                            li
                                a.items(href="#") Bestsellers
                            li
                                a.items(href="#") Our Exclusives
                    p
                        a.sub-topic(href="#") all clothing
                    .collaspe
                        ul
                            li
                                a.items(href="#") Dresses
                            li
                                a.items(href="#") Jeans/Denim
                            li
                                a.items(href="#") Skirts
                            li
                                a.items(href="#") Tops
                            li
                                a.items(href="#") Trousers
                            li
                                a.items(href="#") Tunics
            li.nav-item
                p
                    a(href="#") bags
                .collaspe
                    p
                        a.sub-topic(href="#") all bags
                    .collaspe
                        ul
                            li
                                a.items(href="#") New This Week
                            li
                                a.items(href="#") Bestsellers
                            li
                                a.items(href="#") Our Exclusives
                    p
                        a.sub-topic(href="#") Shop by type
                    .collaspe
                        ul
                            li
                                a.items(href="#") Bucket Bags
                            li
                                a.items(href="#") Clutch Bags
                            li
                                a.items(href="#") Crossboy Bags
                            li
                                a.items(href="#") Purses and Pouches
                            li
                                a.items(href="#") Mini Bags
            li.nav-item
                p
                    a(href="#") shoes
                .collaspe
                    p
                        a.sub-topic(href="#") all shoes
                    .collaspe
                        ul
                            li
                                a.items(href="#") New This Week
                            li
                                a.items(href="#") Bestsellers
                            li
                                a.items(href="#") Our Exclusives
                    p
                        a.sub-topic(href="#") Shop by type
                    .collaspe
                        ul
                            li
                                a.items(href="#") Flats
                            li
                                a.items(href="#") High Heels
                            li
                                a.items(href="#") Sandals
                            li
                                a.items(href="#") Trainers
            li.nav-item
                p
                    a(href="#") accessories
                .collaspe
                    p
                        a.sub-topic(href="#") all accessories
                    .collaspe
                        ul
                            li
                                a.items(href="#") New This Week
                            li
                                a.items(href="#") Bestsellers
                            li
                                a.items(href="#") Our Exclusives
                    p
                        a.sub-topic(href="#") Shop by type
                    .collaspe
                        ul
                            li
                                a.items(href="#") Belt
                            li
                                a.items(href="#") Keyrings
                            li
                                a.items(href="#") Earings
                            li
                                a.items(href="#") Broochers
            li.nav-item
                p
                    a(href="#") blog
//- LANDING PAGE
section#homepage
    include layoutnav.pug
    #landing-page(style="background: url("+img+"); background-size:cover; background-repeat: no-repeat; background-position: center;")
        include navbar.pug
        .row.md-none.lg-none
            .col-sm-10 &nbsp;
            .bars
                i.fa.fa-bars
        #landing-page-content
            header
                h2 Fashion
                p Find the best of fashion here
            #landing-page-form
                form(action="/", method="get", role="search")
                    input(type="search", name="s", required, placeholder="Search for elegance")

       
    div Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab delectus dignissimos sed eos libero? Laborum provident, nulla porro natus doloremque alias. Magnam sit aut sed ipsum quod, sequi sapiente facilis assumenda. Sunt doloremque officiis similique deserunt voluptatibus mollitia a praesentium tempora voluptas! Animi maiores dolorem quo aliquid necessitatibus. Omnis ut, animi aut quae culpa, debitis ullam ea corrupti nam ipsum maiores alias at iure facilis eum incidunt quibusdam, placeat amet. Nihil, impedit facere vel consectetur amet accusamus eligendi tenetur voluptas ducimus odio in quam non temporibus veniam maiores culpa quas labore fugit eos illum inventore magni suscipit cupiditate autem! Minima dolorem illo sunt, rem aliquam sit culpa eveniet mollitia odio necessitatibus quae officia dolores impedit iste non nam laudantium ratione eum maxime explicabo at error in recusandae similique. Ipsum autem dignissimos sed dicta nulla sapiente iusto vitae aliquam iure neque quidem id eius, assumenda adipisci. Sit est quia veritatis vero, distinctio architecto amet dolor corrupti iure quod ab rerum. Numquam fuga veritatis adipisci ex officia nam, laborum unde reiciendis doloremque, recusandae natus voluptatum deleniti fugit facilis sit libero minus debitis fugiat quidem neque sed nesciunt, nulla odit itaque? Debitis fugit perferendis doloribus temporibus, sunt neque voluptatum, earum ipsa, harum sed mollitia suscipit libero magnam a quidem assumenda accusamus fugiat. Dicta saepe quas harum odio sunt cum maxime. Alias, facere? Reprehenderit accusamus, beatae saepe id eligendi et atque temporibus. Neque officiis quisquam eos earum repellat fugiat explicabo veritatis doloribus iure maxime, ut ullam libero at reprehenderit necessitatibus ratione? Numquam vel harum iste, neque aspernatur quia earum saepe facere, tempore beatae nobis voluptate ab. Dignissimos quaerat omnis maiores rerum harum sit. Delectus tenetur qui quae quam, dolores quod labore rem molestiae incidunt. Dignissimos veritatis optio pariatur. Amet repudiandae ex reprehenderit impedit sunt nobis. Assumenda doloribus ea, quibusdam optio porro odio ratione labore ipsam autem nemo, debitis enim vitae veniam dolore? Doloremque itaque mollitia, iste, ut in non neque id tempora, incidunt consequuntur labore rerum deserunt nam officiis quasi. Error sed ad eos vero dicta ab similique nobis illum assumenda, praesentium incidunt sint temporibus eligendi impedit? Illum odio modi facere, obcaecati dolores eveniet in eos. Voluptate, odit sit odio accusantium iste harum perferendis ut eligendi neque quae alias at voluptatibus magnam assumenda, sint recusandae aperiam deserunt dolores pariatur excepturi est. Accusantium maiores consequatur id iste facilis, illo quisquam sapiente quae necessitatibus, ea officiis. Odio nam fuga error aut harum adipisci libero, exercitationem quidem aliquid provident quam culpa cupiditate accusamus, magni voluptates dignissimos veniam non iure! Quaerat dolorum ex, quibusdam blanditiis nobis iste nihil magni facilis consectetur porro, corporis amet impedit, fugiat dignissimos minus laborum accusantium ut vitae quis necessitatibus tempora ab pariatur. Consequuntur voluptate et, quia, eveniet ex ducimus quas molestiae repellendus vel, excepturi amet assumenda eius eligendi eum? In voluptatum, quod dolorem illum optio ex mollitia rem? Nam vel culpa animi maxime sequi odit delectus pariatur velit doloribus ab ea voluptatem in doloremque, dolore, blanditiis officia exercitationem perferendis numquam, provident nisi corporis necessitatibus? Eaque unde repellendus quae iste eos minus repellat magnam.
    |Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt voluptatibus animi error similique excepturi placeat, perferendis sed temporibus a culpa veniam mollitia accusamus voluptate est recusandae suscipit ratione laboriosam asperiores enim incidunt libero ipsum repellat, qui expedita. Labore enim vitae doloribus? Dignissimos asperiores velit fugiat voluptas ex aspernatur molestiae tenetur consequuntur officiis? Impedit, praesentium aut! Unde provident minima quas ducimus tempore molestiae, quisquam labore delectus. Distinctio, natus quisquam! Alias incidunt aperiam consectetur officia optio unde enim perferendis temporibus omnis neque cupiditate necessitatibus error dicta, libero magnam modi animi deleniti fuga! Laboriosam ad dolorum eum dolor corrupti provident eos, accusamus voluptas expedita soluta at doloribus libero obcaecati velit, maiores hic quibusdam! Quis inventore magnam minima alias maxime eveniet, reprehenderit dolorem soluta. Enim mollitia libero consequatur, possimus explicabo tempore neque quos nemo doloribus tempora illum labore quo culpa fuga dolorum eaque accusamus et quam ipsum nulla eius aut temporibus, aliquam pariatur? Ad veniam suscipit soluta ipsam voluptatibus nemo, a dolorum dignissimos asperiores ratione totam nihil ea qui mollitia inventore cumque rerum modi consequuntur quaerat. Sed fugit maiores numquam id temporibus aliquam quae nemo minus, eius culpa necessitatibus, at alias ut esse nihil? Porro voluptate ratione minima ut quia, aspernatur voluptates delectus vero beatae. Exercitationem ipsum quidem facilis molestias sapiente! Molestiae quas quibusdam eum aliquid, nihil esse eos perferendis fugit quia amet adipisci hic saepe autem est, labore praesentium ad nemo ipsam recusandae nesciunt. Nobis quo hic quas aliquam, explicabo, officiis totam maiores natus doloremque, voluptatum consequatur tenetur aspernatur neque consectetur quae perspiciatis ipsa reiciendis similique delectus sint nesciunt itaque deserunt ratione. Quam quidem omnis architecto ipsa veritatis explicabo dignissimos. Corrupti qui maiores ab. Eveniet deleniti autem exercitationem accusamus possimus veritatis modi tenetur a similique? Doloribus consequatur harum, doloremque dolorum quis laudantium ex aspernatur reiciendis at illum illo a, vel incidunt dolores! Provident quas velit deserunt perferendis voluptatibus laudantium quod sunt dolorum similique quisquam impedit animi neque et est atque ea, cumque tenetur vero in nisi rerum voluptas laborum cum culpa? Harum, dicta. Odio nesciunt reiciendis nemo. Delectus, fugiat inventore iste aliquam perspiciatis ipsum dignissimos adipisci hic assumenda magnam quo velit impedit. Minima blanditiis mollitia dolor id neque tempore laborum ullam corrupti sint ad suscipit quam nesciunt, quae illo harum! Ullam porro laudantium labore quisquam dignissimos nisi maiores accusamus inventore tenetur impedit! Corporis itaque eos voluptates voluptatibus quos necessitatibus nisi provident est nostrum facere. Sint ratione temporibus voluptatum ipsa culpa necessitatibus iusto sequi, fugiat molestias reprehenderit, commodi voluptatibus architecto placeat ab! Facilis adipisci qui tempora maxime eligendi fuga officiis natus suscipit? Nam veritatis dolorum laudantium laboriosam quos maxime, optio beatae quas consequuntur, voluptates quidem animi expedita aspernatur quae a earum odio delectus ex. Sint, excepturi natus quod incidunt quia commodi sed aliquam, amet eaque dolore deserunt debitis necessitatibus harum quas nulla totam, soluta assumenda eveniet. In repudiandae amet culpa fuga maiores atque magnam eaque, veritatis consequuntur, nisi nemo non. Aspernatur praesentium, exercitationem perferendis saepe facere fugiat ut numquam nulla asperiores molestias laborum dolores, nostrum, ea recusandae culpa error quas corporis vel quos ipsam.
include scripts.pug
include footer.pug