//- LAYOUT NAVBR
#layout-nav 
    .row
        #brand-name 
            a(href="/") Fashion
        .search-icon
            i.fa.fa-search
        .bars
            i.fa.fa-bars
    #mobile-search.row
        form(action="/shop", method="get", role="search")
            input(type="search", name="s", placeholder="Search",value=searchTerm ? searchTerm : "", autocomplete, required)
    #menu-items
        ul
            li.nav-item
                p
                    a(href="#") women
                .collaspe
                    p
                        a.sub-topic(href="#") all women
                    .collaspe
                        ul
                            li
                                a.items(href="#") New This Week
                            li
                                a.items(href="#") Bestsellers
                            li
                                a.items(href="#") Our Exclusives
                    p
                        a.sub-topic(href="#") all clothing
                    .collaspe
                        ul
                            li
                                a.items(href="#") Dresses
                            li
                                a.items(href="#") Jeans/Denim
                            li
                                a.items(href="#") Skirts
                            li
                                a.items(href="#") Tops
                            li
                                a.items(href="#") Trousers
                            li
                                a.items(href="#") Tunics
            li.nav-item
                p
                    a(href="#") bags
                .collaspe
                    p
                        a.sub-topic(href="#") all bags
                    .collaspe
                        ul
                            li
                                a.items(href="#") New This Week
                            li
                                a.items(href="#") Bestsellers
                            li
                                a.items(href="#") Our Exclusives
                    p
                        a.sub-topic(href="#") Shop by type
                    .collaspe
                        ul
                            li
                                a.items(href="#") Bucket Bags
                            li
                                a.items(href="#") Clutch Bags
                            li
                                a.items(href="#") Crossboy Bags
                            li
                                a.items(href="#") Purses and Pouches
                            li
                                a.items(href="#") Mini Bags
            li.nav-item
                p
                    a(href="#") shoes
                .collaspe
                    p
                        a.sub-topic(href="#") all shoes
                    .collaspe
                        ul
                            li
                                a.items(href="#") New This Week
                            li
                                a.items(href="#") Bestsellers
                            li
                                a.items(href="#") Our Exclusives
                    p
                        a.sub-topic(href="#") Shop by type
                    .collaspe
                        ul
                            li
                                a.items(href="#") Flats
                            li
                                a.items(href="/product-category/shoes?productname=high") High Heels
                            li
                                a.items(href="/product-category/shoes?productname=sandals") Sandals
                            li
                                a.items(href="/product-category/shoes?productname=trainers") Trainers
            li.nav-item
                p
                    a(href="#") accessories
                .collaspe
                    p
                        a.sub-topic(href="#") all accessories
                    .collaspe
                        ul
                            li
                                a.items(href="/product-category/accessories?productname=new-this-week") New This Week
                            li
                                a.items(href="/product-category/accessories?productname=bestsellers") Bestsellers
                            li
                                a.items(href="/product-category/accessories?productname=our-exclusives") Our Exclusives
                    p
                        a.sub-topic(href="#") Shop by type
                    .collaspe
                        ul
                            li
                                a.items(href="/product-category/accessories?productname=belt") Belt
                            li
                                a.items(href="/product-category/accessories?productname=keyrings") Keyrings
                            li
                                a.items(href="/product-category/accessories?productname=earings") Earings
                            li
                                a.items(href="/product-category/accessories?productname=broochers") Broochers
            li.nav-item
                p
                    a(href="#") blog