#desktop-nav
    #desktop-search
        form(action="/shop", method="get", role="search")
            input(type="search", name="s", placeholder="Search", required)
    #brand-name 
        a(href="/") Fashion
    #desktop-item-menu
        ul.desktop-navbar-nav
            li.desktop-nav-item
                a.nav-link(href="/product-category/women") Women
                .options
                    div
                        h6 
                            a(href="#") ALL Women
                        ul
                            li 
                                a(href="#") NEW THIS WEEK
                            li 
                                a(href="#") BESTSELLERS
                            li 
                                a(href="#") OUR EXCLUSIVES 
                    div
                        h6 
                            a(href="#") ALL Clothing
                        ul
                            li 
                                a(href="#") DRESSES
                            li 
                                a(href="#") JEANS/DENIM
                            li 
                                a(href="#") SKIRTS
                            li 
                                a(href="#") TOPS
                            li 
                                a(href="#") TROUSERS
                            li 
                                a(href="#") TUNICS
            li.desktop-nav-item
                a.nav-link(href="/product-category/bags") bags
                .options
                    div
                        h6 
                            a(href="#") ALL BAGS
                        ul
                            li 
                                a(href="#") NEW THIS WEEK
                            li 
                                a(href="#") BESTSELLERS
                            li 
                                a(href="#") OUR EXCLUSIVES 
                    div
                        h6 
                            a(href="#") SHOP BY TYPE
                        ul
                            li 
                                a(href="#") BUCKET BAGS
                            li 
                                a(href="#") CLUTCH BAGS
                            li 
                                a(href="#") CROSSBOY BAGS
                            li 
                                a(href="#") PURSES & POUCHES
                            li 
                                a(href="#") MINI BAGS
            li.desktop-nav-item
                a.nav-link(href="/product-category/shoes") shoes
                .options
                    div
                        h6 
                            a(href="#") ALL shoes
                        ul
                            li 
                                a(href="#") NEW THIS WEEK
                            li 
                                a(href="#") BESTSELLERS
                            li 
                                a(href="#") OUR EXCLUSIVES 
                    div
                        h6 
                            a(href="#") SHOP BY TYPE
                        ul
                            li 
                                a(href="#") FLATS
                            li 
                                a(href="#") HIGH HEELS
                            li 
                                a(href="#") SANDALS
                            li 
                                a(href="#") TRAINERS
            li.desktop-nav-item
                a.nav-link(href="/product-category/accessories") accessories
                .options
                    div
                        h6 
                            a(href="#") ALL accessories
                        ul
                            li 
                                a(href="#") NEW THIS WEEK
                            li 
                                a(href="#") BESTSELLERS
                            li 
                                a(href="#") OUR EXCLUSIVES 
                    div
                        h6 
                            a(href="#") SHOP BY TYPE
                        ul
                            li 
                                a(href="#") BELT
                            li 
                                a(href="#") KEYRING
                            li 
                                a(href="#") EARINGS
                            li 
                                a(href="#") BROOCHES
            li.desktop-nav-item
                a.nav-link(href="#") blog